/* CSS Document */
*{padding:0;margin:0;}
img{border:medium none;}
ul,li,dd,ol{list-style-type:none;}
a{text-decoration:none;}
body{width:1000px; margin:0 auto;font-family: 'Trebuchet MS', Verdana, sans-serif; margin-top:10px;}
#wrap{width:100%;}
#sidebar{float:left;width:180px;  border-collapse: collapse; border:1px solid #99b;}
#nav{text-align:center;line-height:28px;width:180px;background:#ddddee;}
#nav li{ border-bottom:1px solid #fff;}
.title{padding:3px 5px;background:#ddddee;color:#000;border-bottom:1px solid #fff;cursor:pointer;}
.title1{padding:3px 5px;background:#ddddee;color:#000;border-bottom:1px solid #fff;cursor:pointer;}
.content li{color:#336699;background:#eef;border-bottom:1px solid #fff;}
#sidebar a{ font-size: 1em;font-weight: bold;}
.right{width:100%;background:#ddddee; text-align:center; padding-bottom:5px; }
#content{ margin-left:190px;}
#header{padding: 5px 8px; border:1px solid #99b; border-collapse:collapse;color: #000; background-color: #eef;font-size: 1em;font-weight: bold; text-align: center;}
#footer
{padding: 5px 8px;border: 1px solid #99b; border-collapse: collapse;color: #000; background-color: #eef; font-weight: bold;text-align: center;}
#main{padding: 8px;border-left: 1px solid #99b;border-right: 1px solid #99b;border-collapse: collapse;}
#main table tr{height:30px;}
#main td.numeric_odd{text-align: right; color: #000;background-color: #eef;}
#main td.numeric_even{text-align: right;color: #000; background-color: #fff;}
#main td.label_odd{color: #000;background-color: #dde;}
#main td.label_even{color: #000; background-color: #eee;}
#main th.label{font-weight: bold;color: #000;background-color: #dde;}
#main caption{font-size: 1.25em;font-weight: bold;padding: 4px;}

